<div class="center">
    <h1>Editing grasspriet</h1>
    <%= image_tag(@blade.image, size:"400x400") %>
</div>

<%= render 'form', blade: @blade %>

<div class="row">
    <div class="col s2 push-s2">
        <%= link_to 'Show', @blade %> |
        <%= link_to 'Back', blades_path %>
    </div>
</div>