<h1>Blades</h1>

<table>
    <thead>
        <tr>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @blades.each do |blade| %>
        <tr>
            <% if blade.image.attached? %>
                <td><%= image_tag(blade.image, size:"300x300") %></td>
            <% else %>
                <td>image</td>
            <% end %>
        </tr>
        <tr>
            <td><%= link_to blade.name, blade %></td>
            <td>€ <%= blade.price %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New Blade', new_blade_path %>