<div class="center">
    <h1>Verkoop jouw grassprietje</h1>
</div>

<%= render 'form', blade: @blade %>

<div class="row">
    <div class="col s8 push-s2">
        <div class="right">
            <%= link_to 'Back', blades_path %>
        </div>
    </div>
</div>