<h1>Basket</h1>

<table>
    <thead>
        <tr>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @basketblades.each do |basketblade| %>
        <tr>
            <td>Picture</td>
        </tr>
        <tr>
            <td><%= basketblade.blade.name %></td>
            <td>€ <%= basketblade.blade.price %></td>
            <td><%= basketblade.quantity %></td>
        </tr>
        <% end %>
    </tbody>
</table>
    <%= button_to "check out",  checkout_basketblade_path(current_user), method: :put %>
